.main{
    /* border: 2px solid violet; */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.newbillhead{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.input1{
  
        margin: 10px;
          border: 1px solid gray;
          margin-top: 30px;
          width: 500px;
          height: 60px;
        
   
}
.input2{
    margin: 10px;
      border: 1px solid gray;
      margin-top: 30px;
      width: 500px;
      height: 35px;
     
   
}

.itemDetails{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
.quantity{
    text-align:  start;
    margin: 5px;
}